In [3]:
import pandas as pd
from pandasql import sqldf
from datetime import datetime, timedelta

In [4]:
users = pd.read_csv("Updated_Datasets/USER_CLEANED.csv")
transactions = pd.read_csv("Updated_Datasets/TRANSACTION_CLEANED.csv")
products = pd.read_csv("Updated_Datasets/PRODUCTS_CLEANED.csv")

In [5]:
# Function to run SQL queries on pandas DataFrames
def pysqldf(q):
    return sqldf(q, globals())

# What are the top 5 brands by receipts scanned among users 21 and over?

In [6]:
# SQL query to find the top 5 brands by receipts scanned among users 21 and over
query = """
SELECT p.BRAND, COUNT(DISTINCT t.RECEIPT_ID) AS receipt_count
FROM users u
JOIN transactions t ON u.ID = t.USER_ID
JOIN products p ON t.BARCODE = p.BARCODE
WHERE u.AGE >= 21 
  AND p.BRAND IS NOT NULL 
  AND p.BRAND <> ''
GROUP BY p.BRAND
ORDER BY receipt_count DESC
LIMIT 5;
"""


top_5_brands_by_receipts = pysqldf(query)
top_5_brands_by_receipts

             BRAND  receipt_count
0      NERDS CANDY              3
1             DOVE              3
2          TRIDENT              2
3  SOUR PATCH KIDS              2
4           MEIJER              2

In [13]:
top_5_brands_by_receipts.to_csv("SQL_Outputs/top_5_brands_by_receipts.csv", index = False)

# What are the top 5 brands by sales among users that have had their account for at least six months?

In [7]:
# SQL query to find the top 5 brands by sales among users with accounts at least six months old
query = """
SELECT p.BRAND, SUM(t.FINAL_SALE) AS total_sales
FROM users u
JOIN transactions t ON u.ID = t.USER_ID
JOIN products p ON t.BARCODE = p.BARCODE
WHERE julianday('now') - julianday(u.CREATED_DATE) >= 180
GROUP BY p.BRAND
ORDER BY total_sales DESC
LIMIT 5;
"""

top_5_brands_by_sales = pysqldf(query)
top_5_brands_by_sales

         BRAND  total_sales
0          CVS        72.00
1         DOVE        30.91
2      TRIDENT        23.36
3  COORS LIGHT        17.48
4     TRESEMMÉ        14.58

In [15]:
top_5_brands_by_sales.to_csv("SQL_Outputs/top_5_brands_by_sales.csv", index = False)

In [8]:
print("Users columns:", users.columns.tolist())

Users columns: ['ID', 'CREATED_DATE', 'BIRTH_DATE', 'STATE', 'LANGUAGE', 'GENDER', 'ACCOUNT_AGE', 'AGE', 'CREATED_YEAR', 'CREATED_MONTH', 'CREATED_DAYOFWEEK']

# At what percent has Fetch grown year over year?

In [9]:
# SQL query using the 'CREATED_YEAR' column from USERS CLEANED dataset for Year on Year Growth
query = """
SELECT 
    u1.CREATED_YEAR AS year,
    COUNT(u1.ID) AS current_year_users,
    (SELECT COUNT(u2.ID)
     FROM users u2
     WHERE u2.CREATED_YEAR = u1.CREATED_YEAR - 1) AS previous_year_users,
    (CAST(COUNT(u1.ID) AS FLOAT) - (SELECT COUNT(u2.ID)
                                    FROM users u2
                                    WHERE u2.CREATED_YEAR = u1.CREATED_YEAR - 1)) 
    / NULLIF((SELECT COUNT(u2.ID)
              FROM users u2
              WHERE u2.CREATED_YEAR = u1.CREATED_YEAR - 1), 0) * 100 AS yoy_growth_percent
FROM users u1
GROUP BY u1.CREATED_YEAR
ORDER BY u1.CREATED_YEAR;
"""


yoy_growth = pysqldf(query)
yoy_growth

    year  current_year_users  previous_year_users  yoy_growth_percent
0   2014                  30                    0                 NaN
1   2015                  51                   30           70.000000
2   2016                  70                   51           37.254902
3   2017                 644                   70          820.000000
4   2018                2168                  644          236.645963
5   2019                7093                 2168          227.167897
6   2020               16883                 7093          138.023403
7   2021               19159                16883           13.481016
8   2022               26807                19159           39.918576
9   2023               15464                26807          -42.313575
10  2024               11631                15464          -24.786601

In [17]:
yoy_growth.to_csv("SQL_Outputs/yoy_growth.csv", index = False)

In [10]:
# SQL query to find the leading brand in the "Dips & Salsa" category
query = """
SELECT p.BRAND, SUM(t.FINAL_SALE) AS Total_Sales
FROM transactions t
JOIN products p ON t.BARCODE = p.BARCODE
WHERE p.CATEGORY_1 = 'Dips & Salsa' OR p.CATEGORY_2 = 'Dips & Salsa' OR
      p.CATEGORY_3 = 'Dips & Salsa' OR p.CATEGORY_4 = 'Dips & Salsa'
GROUP BY p.BRAND
ORDER BY Total_Sales DESC
LIMIT 1;
"""

# Execute the query
leading_brand_dips_salsa = pysqldf(query)
print(leading_brand_dips_salsa)

      BRAND  Total_Sales
0  TOSTITOS        181.3

In [11]:
# Data Quality issue regarding purchase dates and scan dates

query = """
SELECT *
FROM transactions
WHERE purchase_date > scan_date
   OR purchase_date < '2000-01-01' 
   OR purchase_date > '2099-12-31'
   OR scan_date < '2000-01-01'
   OR scan_date > '2099-12-31';
   """

abc = pysqldf(query)
abc

,RECEIPT_ID,PURCHASE_DATE,SCAN_DATE,STORE_NAME,USER_ID,BARCODE,FINAL_QUANTITY,FINAL_SALE
0,5c10e8df-9a9b-4ce0-bfed-51ab7adf2eb5,2024-07-06,2024-07-05 13:18:03.207 Z,DOLLAR GENERAL STORE,6230b0508096d0349b6c86f7,080878195749.0,1.0,10.00
1,05023b3d-5f83-47a7-a17c-8e8521d0bc94,2024-09-08,2024-09-07 22:22:29.903 Z,SHOP RITE,666a43c77c0469953bfd9ae0,064144041640.0,2.0,2.98
2,bfa85c94-a644-4f81-8a83-90ade603cf31,2024-06-15,2024-06-14 21:26:00.636 Z,WALMART,5dc24cdb682fcf1229d04bd6,078742236964.0,1.0,0.47
3,878fe0e9-42e5-4de2-b9d1-da82ecf25db1,2024-06-29,2024-06-28 20:04:50.390 Z,DOLLAR GENERAL STORE,64761a27a55bb77a0e27a417,732748017254.0,1.0,1.25
4,801eeda5-e4fe-41e1-97c2-03026765cc47,2024-08-31,2024-08-30 19:27:02.783 Z,WALMART,5dc24cdb682fcf1229d04bd6,021000658831.0,1.0,1.24
5,9abbb4f5-ac03-465f-97a2-13158fdf4043,2024-06-16,2024-06-15 08:11:23.497 Z,CVS,62fbe32f92710024ad021b5e,050428332221.0,1.0,5.99
6,c33e6c37-6ef2-4b4c-8b74-f96edce24995,2024-06-26,2024-06-25 22:03:31.809 Z,WALMART,6335c6fb0c625b72ae9d1af6,038000138638.0,1.0,2.00
7,2e841c20-2560-484e-b363-6b2b2f7530a6,2024-09-05,2024-09-04 21:03:53.240 Z,MACEY'S,5e8cec07f70de813e00885d6,038000199240.0,1.0,4.99
8,9c4f0e47-b911-4759-8b7a-ff07a89c4d0b,2024-06-22,2024-06-21 19:59:42.685 Z,WALMART,615ca042c2fb932121380f5d,049000012781.0,1.0,11.78
9,706ce3f7-5e22-49d0-92c6-3baf3c7b72bd,2024-06-27,2024-06-26 21:57:07.771 Z,WALMART,634aee03305e373439460ac3,051000025500.0,1.0,1.52
10,9f78650a-e7b5-4899-a126-fd872d7499f4,2024-06-15,2024-06-14 11:33:52.532 Z,DOLLAR GENERAL STORE,614cb8a3d828044a0cc46575,028400517737.0,1.0,5.50
11,7eab1400-a237-494f-9e56-9ff621c9bd97,2024-07-23,2024-07-22 19:21:19.815 Z,CVS,5ee68c81487e0813e66744ce,603084459469.0,2.0,11.98
12,1815fc2f-a77e-48ad-b40f-56d97c037b6b,2024-07-09,2024-07-08 13:56:37.595 Z,MARIANO'S,603c1d062a19b21297fb59b8,011110105899.0,1.0,10.00
13,574656c7-3bb0-48a0-96d6-4e986c530e14,2024-07-06,2024-07-05 13:51:37.311 Z,DOLLAR GENERAL STORE,5fdd585b4a6fe912aa18ee78,028400090179.0,1.0,0.50
14,2a6cdb6d-3a4f-49c3-ae91-cca5c272ff32,2024-06-18,2024-06-17 16:41:19.025 Z,WALMART,652831edbefaf7bae90f9976,013971021011.0,1.0,4.98
15,cd20310f-db82-4dda-9aef-6e85641f6275,2024-08-03,2024-08-02 20:00:44.409 Z,WALMART,6679be6a86cc41b000cd0647,044000034832.0,1.0,3.88
16,99e23a18-d7dd-4034-8de4-4eb95c4c5d2c,2024-08-05,2024-08-04 21:37:49.634 Z,WALMART,6574b65d0f329c2d9538c081,024300041723.0,1.0,2.68
17,c8698030-4b73-484e-90d1-e477e35abf3a,2024-07-10,2024-07-09 20:04:02.963 Z,MARIANO'S,5e0b8c7adaccde1205b0c103,048001014886.0,1.0,6.59
18,8c42b6ad-696c-4057-955a-039129071bae,2024-07-09,2024-07-08 05:45:31.577 Z,KROGER,5f5c0cdb34682e15e13cb8bc,011110088932.0,1.0,2.99
19,3708996b-2961-4314-915a-eb87f3135a5d,2024-06-29,2024-06-28 19:02:31.770 Z,SHOP RITE,639bd4d45ebaba5b2756f285,311111398390.0,1.0,4.10
20,25109976-74a3-4fba-88a7-2203c922bc30,2024-06-29,2024-06-28 22:21:15.265 Z,DOLLAR GENERAL STORE,5da9da87dc2daf27269c4d76,017000009469.0,1.0,1.65
21,6148118d-ddf5-45da-8f39-42e6702f5373,2024-06-30,2024-06-29 23:00:12.834 Z,WALMART,63c8b97a39c79dcbdd5cf378,076808518290.0,1.0,1.84
22,99e58942-ae7c-450b-8048-1e9a76691d4b,2024-06-25,2024-06-24 21:15:19.747 Z,WALMART,63e0610ddcb50fbd3086cacc,681131280679.0,1.0,5.98
23,4a471204-c9ea-4c77-a4f9-743261588f71,2024-07-25,2024-07-24 22:50:22.374 Z,WALMART,5efcb5735d244611f49b09b4,075476111000.0,1.0,3.38
24,4bcb6fec-0c13-4e47-9ee5-347d49e5cd8c,2024-06-13,2024-06-12 19:12:34.301 Z,LOWES FOODS,65332550a65d634c1c2a0223,311111285294.0,1.0,5.69
25,e8b32551-16db-46b9-ad5d-ec666670389d,2024-06-22,2024-06-21 20:57:30.214 Z,DOLLAR GENERAL STORE,650498f6a89e2dfd4851f177,305732019222.0,1.0,3.95
26,06ce3da3-a588-4c37-93b4-0b6d11e42704,2024-06-22,2024-06-21 12:34:15.665 Z,BIG LOTS,646f6ffb7a342372c858487e,311111706324.0,1.0,4.05
27,c6792a50-bcc2-4514-8cc1-686c4a994f8f,2024-06-29,2024-06-28 09:32:09.617 Z,DOLLAR GENERAL STORE,64b0156ca13e1af42fda35e1,028400310406.0,1.0,4.95
28,a243b506-4a7b-45c6-affa-f475fec29dd4,2024-06-22,2024-06-21 15:59:38.974 Z,DOLLAR GENERAL STORE,633ddebd1aaccf0b2165e6dd,011111519084.0,1.0,8.00
29,f37e31e8-e782-44f5-9d62-6146a7fce08f,2024-06-22,2024-06-21 07:59:33.636 Z,DOLLAR GENERAL STORE,60ef8d91006ff700af8d2849,041167009116.0,1.0,5.35
30,04a320ed-2903-45e5-8fd7-6eaf08daef32,2024-06-29,2024-06-28 11:03:31.783 Z,DOLLAR GENERAL STORE,62855f67708670299a658035,049000024685.0,1.0,6.00
31,0b5dcb8b-7d0a-4d58-bd7c-ace179bc3fd7,2024-08-10,2024-08-09 20:27:38.308 Z,WALMART,62b12e74cc43018bbbf9ac38,024300043147.0,1.0,4.98
32,95cec7eb-5d63-41d3-ac43-d679869e1c55,2024-06-15,2024-06-14 16:08:19.870 Z,DOLLAR GENERAL STORE,636ca6c9e81cf793db519f94,022000283979.0,1.0,1.00
33,bd08a38d-5836-498f-af7b-f909d0ef53ab,2024-06-15,2024-06-14 21:44:28.491 Z,DOLLAR GENERAL STORE,59b6f6d4e4b08eb3b40ea768,602652201059.0,1.0,4.00
34,008c1dcc-0f96-4b04-98c8-2a2bb63ef89d,2024-07-21,2024-07-20 19:54:23.133 Z,WALMART,5dc24cdb682fcf1229d04bd6,681131157339.0,1.0,3.18
35,e6a5e38f-ba15-4f98-8f05-bfc470c4761e,2024-08-28,2024-08-27 19:42:48.904 Z,WALMART,63818fb3ae4fd936d3e585cc,078742276137.0,1.0,2.67
36,caae7384-5c15-4ab6-addb-7721dd1a155b,2024-08-03,2024-08-02 19:25:01.747 Z,SAM'S CLUB,5f88824ff4e22916409303cb,191565434529.0,1.0,14.48
37,dd40de3e-c453-4d7f-a46d-c0a2de285be6,2024-06-22,2024-06-21 14:41:09.236 Z,DOLLAR GENERAL STORE,60fd82ac81e3cd0a49a647d9,011111122123.0,1.0,5.00
38,430687e6-0bed-448a-8ed9-9a02327007a3,2024-07-06,2024-07-05 11:12:55.263 Z,DOLLAR GENERAL STORE,5dcda161beba2b131519d18a,010700021526.0,1.0,1.00
39,d6dfa1dd-96c7-4e8c-9465-3dbc3974ec00,2024-08-21,2024-08-20 23:10:57.223 Z,WALMART,6010acf151e5ec12ece67d20,044000033385.0,1.0,4.78
40,a0216ee4-703b-4293-9474-376978721f84,2024-09-06,2024-09-05 20:46:27.065 Z,SAM'S CLUB,5f714917429e8f16cc088dd1,027331032319.0,1.0,6.98
41,95f130c0-4e8c-477b-a071-30df26955e79,2024-07-09,2024-07-08 12:04:49.210 Z,KROGER,62d8828a1d76344f1a3611cc,011110128294.0,1.0,1.99
42,08d0e78f-3e63-40a3-8eb0-73fdf76da52c,2024-06-22,2024-06-21 20:50:01.298 Z,DOLLAR GENERAL STORE,664cafb6e04f743a096a837e,076808280098.0,2.0,3.50
43,718aa730-b62f-4e18-8dba-1d7105dac341,2024-09-05,2024-09-04 20:14:00.374 Z,WALMART,5e0f561efa890112094202ad,073390009021.0,1.0,3.56
44,af2b818f-4a92-4e98-958c-65f2ce0b271d,2024-06-15,2024-06-14 10:57:23.892 Z,DOLLAR GENERAL STORE,64de6465516348066e7c5690,817513015434.0,1.0,3.83
45,72bb7b71-d958-4a46-ae62-43abdeb0e693,2024-06-15,2024-06-14 19:55:56.672 Z,WALMART,649726ea127ddb5d7f0004dc,034856108146.0,1.0,2.05
46,99c2e8dc-9dc7-4267-9342-0b19c3fb35a0,2024-06-15,2024-06-14 22:07:18.702 Z,WALMART,5e48ddd01a900e141874e241,078742027227.0,1.0,1.34